# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
frontend/dist/
frontend/android/app/build/
frontend/android/build/

# Environment files
*.env
*.env.local
*.env.production

# System / IDE
.vscode/
.DS_Store
Thumbs.db

# Capacitor / Android cache
frontend/android/.gradle/
frontend/android/.idea/
frontend/android/local.properties

# sqlite
*.sqlite
!db.sqlite
